<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.pfm.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        >
        <activity
            android:screenOrientation="portrait"
            android:name=".MainPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="addAndDeleteActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="SettingsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="calculationsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="headingGsWcaActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="wSpeedAndDirectionActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="trueAirspeedActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="densityAltitudeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="runwayWindsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="distanceCourseActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="documentsActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="popupActivity" android:screenOrientation = "portrait">
        	<intent-filter>
         		<action android:name="android.intent.action.VIEW" />
         		<category android:name="android.intent.category.DEFAULT" />
         		<data android:mimeType="text/plain" />  
     		</intent-filter>
        </activity>
		<activity android:name="AddDBActivity" android:screenOrientation="portrait"></activity>
		<activity android:name="DeleteDBActivity" android:screenOrientation="portrait"></activity>
</application>

</manifest>